@media (max-width: 600px) {
  .keys {
    flex-direction: column-reverse;
  }

  .part1 {
    border-right: none;
  }

  .part2 {
    border-bottom: 0.1rem solid white;
  }

  .btn {
    font-size: 1.5rem;
    min-height: 4.5rem;
    min-width: 4.5rem;
    margin: 0.3rem;
  }

  .equal {
    background-color: green;
    width: 9.6rem;
  }

  .checkbox {
    width: 9.6rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 330px) {
  html {
    font-size: 70%;
  }
}