/* -------------------------------- GLOBAL STYLING------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  display: none;
}

/* ------------------------------ MAIN CONTAINER------------------------------------ */

body {
  background: linear-gradient(90.42deg, #05ff00 0.35%, #faff00 99.63%);
  color: white;
  font-family: "Poppins";
  font-size: 1.3rem;
  height: 100vh;
}

.mainSection {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSectionContainer {
  background-color: rgb(0, 0, 0);
}

.keys {
    padding: 0.5rem;
}

.result {
  height: 4rem;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  align-items: center;
  border-bottom: 0.1rem solid white;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
  display: flex;
}

.btn {
  display: flex;
  background-color: rgb(29, 29, 29);
  align-items: center;
  justify-content: center;
  min-height: 3.4rem;
  min-width: 3.4rem;
  margin: 0.4rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.operator {
  background-color: rgb(0, 38, 255);
}

.clear {
    background-color: rgb(187, 187, 0);
}



.equal {
  background-color: green;
  width: 7.6rem;
}

.checkbox {
    width: 7.6rem;
}

.checkbox div {
    padding: 0.5rem;
}

.checkbox input {
    cursor: pointer;
}



header {
  font-weight: 600;
  background-color: rgb(251, 255, 198);
  color: rgb(54, 54, 54);
  padding: 0.8rem;
  box-shadow: 0rem 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.575);
  text-align: center;
  font-size: 2rem;
}